@-webkit-keyframes fadeInScale {
  0% { opacity: 0; -webkit-transform: scale(0.6); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes fadeInScale {
  0% { opacity: 0; -moz-transform: scale(0.6); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@-o-keyframes fadeInScale {
  0% { opacity: 0; -o-transform: scale(0.6); }
  100% { opacity: 1; -o-transform: scale(1); }
}
@-ms-keyframes fadeInScale {
  0% { opacity: 0; -ms-transform: scale(0.6); }
  100% { opacity: 1; -ms-transform: scale(1); }
}
@keyframes fadeInScale {
  0% { opacity: 0; transform: scale(0.6); }
  100% { opacity: 1; transform: scale(1); }
}

.rg-gallery {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 500;
	padding: 10px 10px 165px 10px;
	background: #1F1F1F;
	background: rgba(31, 31, 31, 0.96);
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}

	.rg-image-wrapper{
		position:relative;
		overflow: hidden; /* hide overflowing content */
		padding: 0 30px 40px;
		height: 100%;
		border-radius: 10px;
		background: #101010;
	}
		.rg-image{
			position:absolute;
			left: 0;
			right: 0;
			text-align:center;
		}
			.rg-image img{
				max-width:100%;
				max-height:95%;
			}

		.rg-image-nav span {
			position:absolute;
			top:0px;
			left:0px;
			z-index: 200;
			width:28px;
			height:100%;
			outline:none;
			-webkit-border-radius: 10px 0px 0px 10px;
			-moz-border-radius: 10px 0px 0px 10px;
			border-radius: 10px 0px 0px 10px;
			background:#000 url(../images/nav.png) no-repeat -20% 50%;
			text-indent:-9000px;
			opacity:0.3;
			cursor:pointer;
		}
		.rg-image-nav .rg-image-nav-next {
			left:auto;
			right:0px;
			-webkit-border-radius: 0px 10px 10px 0px;
			-moz-border-radius: 0px 10px 10px 0px;
			border-radius: 0px 10px 10px 0px;
			background-position:115% 50%;
		}
		.rg-image-nav span:hover{ opacity:0.8; }


		.rg-caption {
			display: none;
			margin-top: 5px;
			text-align: center;
			letter-spacing:2px;
			font-size: 16px;
		}

	.rg-view{
		height:30px;
	}
		.rg-view a{
			display:block;
			float:right;
			margin-right:3px;
			width:16px;
			height:16px;
			border:3px solid #464646;
			background:#464646 url(../images/views.png) no-repeat top left;
			opacity:0.8;
		}
		.rg-view a:hover{ opacity:1.0; }
		.rg-view .rg-view-full{
			background-position:0px 0px;
		}
		.rg-view .rg-view-selected{
			border-color:#6f6f6f;
			background-color:#6f6f6f;
		}
		.rg-view .rg-view-thumbs{
			background-position:0px -16px;
		}

	.rg-loading{
		position:absolute;
		top:50%;
		left:50%;
		z-index:100;
		margin:-23px 0px 0px -23px;
		width:46px;
		height:46px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background:#000 url(../images/ajax-loader.gif) no-repeat center center;
		opacity:0.7;
	}

	.rg-close {
		position: absolute;
		top: 15px;
		right: 47px;
		z-index: 300;
		text-transform: uppercase;
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}
		.rg-close:hover {
			text-shadow: 0 0 2px rgba(255,255,255,.6);
		}



/* ----------- Thumbs - Elastislide ----------- */
.rg-thumbs {
	position:relative;
	margin-top: 10px;
	padding:10px 27px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #101010;
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
}
	.es-carousel-wrapper{
		position:relative;
	}
		.es-carousel{
			overflow:hidden;
			background:#000;
		}
			.es-carousel ul{
				display:none;
			}
				.es-carousel li{
					display:block;
					float:left;
					height:100%;
				}
					.es-carousel li a{
						display:block;
						border-style:solid;
						border-color:#222;
						opacity:0.8;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-ms-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						-webkit-touch-callout:none;
					}
					.es-carousel li.selected a{
						border-color:#fff;
						opacity:1.0;
					}
						.es-carousel li a img{
							display:block;
							max-width:100%;
							max-height:100%;
							border:none;
						}
		.es-nav span {
			position:absolute;
			top:50%;
			left:-19px;
			margin-top:-18px;
			width:14px;
			height:26px;
			font-size: 21px;
			opacity:.7;
			cursor:pointer;
		}
		.es-nav span:hover{
			opacity:1.0;
		}
		.es-nav .es-nav-next{
			left:auto;
			right:-19px;
		}


/* --------------- Slider ------------------*/
.ui-slider { 
	position: relative; 
	margin-bottom: 10px;
}
	.ui-widget-content{
	    position: relative;
	    height: 4px;
	    border-radius: 2px;
	    background-color: #353535;
	}
	.ui-slider-handle {
		position: absolute;
		top: -4px;
		z-index: 1;
		margin-left: -7px;
		width: 15px;
		height: 13px;
		outline: none;
		border: none;
		border-radius: 6px;
		background: #9b9b9b;
		opacity: .85;
		cursor: pointer;
	}


/* --------------- Social ------------------*/
.rg-gallery-social {
	padding-bottom: 200px;
}
	.rg-social {
		text-align: center;
	}
	.rg-gallery-social .rg-close {
		top: 53px;
	}
	.rg-gallery-social .rg-image-wrapper {
		margin-top: 10px;
	}


@media only screen and (max-width: 620px), only screen and (max-device-width: 620px) {
	.rg-gallery {
		padding-left: 0;
		padding-right: 0;
	}
		.rg-close {
			right: 37px;
		}

		.ui-slider-handle {
			top: -12px;
			width: 30px;
			height: 28px;
			border-radius: 14px;
		}
}