@-webkit-keyframes fadeInScale {
  0% { opacity: 0; -webkit-transform: scale(0.6); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes fadeInScale {
  0% { opacity: 0; -moz-transform: scale(0.6); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@-o-keyframes fadeInScale {
  0% { opacity: 0; -o-transform: scale(0.6); }
  100% { opacity: 1; -o-transform: scale(1); }
}
@-ms-keyframes fadeInScale {
  0% { opacity: 0; -ms-transform: scale(0.6); }
  100% { opacity: 1; -ms-transform: scale(1); }
}
@keyframes fadeInScale {
  0% { opacity: 0; transform: scale(0.6); }
  100% { opacity: 1; transform: scale(1); }
}

.rg-gallery {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 500;
	/* overflow: hidden; */
	/* padding: 80px 100px 120px 100px; */
	padding: 10px 20px 175px 10px;
	/* width: 100%; */
	/* height: 100%; */
	background: #1F1F1F;
/* background: rgba(38,36,30,0.65); */
/* background: -moz-radial-gradient(center, ellipse cover, rgba(38,36,30,0.65) 0%, rgba(22,21,18,1) 77%, rgba(17,17,14,1) 100%); */
/* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(38,36,30,0.65)), color-stop(77%,rgba(22,21,18,1)), color-stop(100%,rgba(17,17,14,1))); */
/* background: -webkit-radial-gradient(center, ellipse cover, rgba(38,36,30,0.65) 0%,rgba(22,21,18,1) 77%,rgba(17,17,14,1) 100%); */
/* background: -o-radial-gradient(center, ellipse cover, rgba(38,36,30,0.65) 0%,rgba(22,21,18,1) 77%,rgba(17,17,14,1) 100%); */
/* background: -ms-radial-gradient(center, ellipse cover, rgba(38,36,30,0.65) 0%,rgba(22,21,18,1) 77%,rgba(17,17,14,1) 100%); */
/* background: radial-gradient(ellipse at center, rgba(38,36,30,0.65) 0%,rgba(22,21,18,1) 77%,rgba(17,17,14,1) 100%); */
	background: rgba(31, 31, 31, 0.96);
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a626241e', endColorstr='#11110e',GradientType=1 ); */
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}

	.rg-image-wrapper{
		position:relative;
		overflow: hidden; /* hide overflowing content */
		padding: 0 30px 40px;
		height: 100%;
		border-radius: 10px;
		background: #101010;
	}
		.rg-image{
			position:absolute;
			left: 0;
			right: 0;
			text-align:center;
		}
			.rg-image img{
				max-width:100%;
				max-height:95%;
			}

		.rg-image-nav a{
			position:absolute;
			top:0px;
			left:0px;
			z-index: 200;
			width:28px;
			height:100%;
			outline:none;
			-webkit-border-radius: 10px 0px 0px 10px;
			-moz-border-radius: 10px 0px 0px 10px;
			border-radius: 10px 0px 0px 10px;
			background:#000 url(../images/nav.png) no-repeat -20% 50%;
			text-indent:-9000px;
			opacity:0.3;
			cursor:pointer;
		}
		.rg-image-nav .rg-image-nav-next{
			left:auto;
			right:0px;
			-webkit-border-radius: 0px 10px 10px 0px;
			-moz-border-radius: 0px 10px 10px 0px;
			border-radius: 0px 10px 10px 0px;
			background-position:115% 50%;
		}
		.rg-image-nav a:hover{ opacity:0.8; }


		.rg-caption {
			display: none;
			margin-top: 5px;
			text-align: center;
			letter-spacing:2px;
			font-size: 16px;
			font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
		}

	.rg-view{
		height:30px;
	}
		.rg-view a{
			display:block;
			float:right;
			margin-right:3px;
			width:16px;
			height:16px;
			border:3px solid #464646;
			background:#464646 url(../images/views.png) no-repeat top left;
			opacity:0.8;
		}
		.rg-view a:hover{ opacity:1.0; }
		.rg-view .rg-view-full{
			background-position:0px 0px;
		}
		.rg-view .rg-view-selected{
			border-color:#6f6f6f;
			background-color:#6f6f6f;
		}
		.rg-view .rg-view-thumbs{
			background-position:0px -16px;
		}

		.rg-loading{
			position:absolute;
			top:50%;
			left:50%;
			z-index:100;
			margin:-23px 0px 0px -23px;
			width:46px;
			height:46px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background:#000 url(../images/ajax-loader.gif) no-repeat center center;
			opacity:0.7;
		}

	.rg-thumbs {
		margin-top: 40px;
	}